@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}

/**
 * GENERAL
 */

img {max-width:100%;}

/**
 * YOUR CODE HERE
 */

.container {
    border-radius: 50%;
    margin:auto;
    width:75%;
    min-width:20rem;
    max-width: 40rem;
    position:relative;
    &::after{
        content: "";
        padding-top: 100%;
        display: block;
        border-radius:50%;
        background: repeating-radial-gradient(transparent 25%,rgba(60,60,60,.3)44%,rgba(155,155,155,.3)48%,rgba(255,255,255,.1)34%,rgba(255,255,255,.1)40%);
    }

    .clock{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        h1{
            padding: 0rem 1.2rem;
            color: white;
            transition: all ease 0.5s;
            font-family: 'Jura', sans-serif;
            &:first-of-type{
                position:relative;
                opacity:1;
            }
            &:nth-of-type(2){
                position:absolute;
                top:0;
                left:0;
                opacity:0;
            }
        }
        &:hover{
            h1{
                &:first-of-type{
                    opacity:0;
                }
                &:nth-of-type(2){
                    opacity:1;
                }
            }  
        }
        hr{
            border: 1px solid white;
        }
    }
}